.container {
  max-width: 1300px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.img-responsive {
  width: 100%;
  display: block;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.grid-2 img {
  width: 600px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.instagram-embed {
  margin: 30px 0;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  margin: 30px 0;
  min-height: 500px;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.card-header.grid {
  grid-gap: 0;
}

.card-header img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-header iframe {
  width: 100%;
  height: 200px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.places {
  background: #f8f8f8;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/varenna.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 280px 0;
}

header h1 {
  font-family: "Poppins";
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 3px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px 32px;
  text-align: center;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
}

main {
  background-color: rgb(242, 242, 244);
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: rgb(54, 53, 53);
  opacity: 0.3;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: rgb(54, 53, 53);
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main p {
  font-size: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  color: rgb(54, 53, 53);
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url(../images/bellagio.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
